@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

nav a.active {
  font-weight: bold;
  color: orange;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #6a7282;
  --color-accent: #1e2939;
}

.btn-primary {
  @apply bg-linear-to-r from-gray-900 to-gray-600  font-semibold text-white py-2 px-2 md:px-4 rounded-lg shadow-md hover:shadow-lg transition-all duration-300;
}

.mySwiper .swiper-pagination-bullet {
  background: #fbbf24;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #fbbf24;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
